@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .link{
        @apply cursor-pointer px-1 border-transparent hover:underline;
    }
    .button{
        @apply p-2 text-xs bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-yellow-500 active:from-yellow-500;
    }
}

html {
    scroll-behavior: smooth;
}
.modelStyle{
    position: fixed;
    bottom: 5px;
    left: 5px;
    padding: 15px;
    max-width: 250px;
    min-width: 250px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 0px 1px 0px 2px #00000030;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}
.informationModel{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.733);
    width: 100vw;
    height: 100vh;
}
.showResults{
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    background: #fff;
}
#sticky{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 12;
}